---
layout: default
---

<section id="home"> <!-- HOME -->
    <article>

{% for category in site.categories %}
    <li><a href="{{category.url}}"><strong>{{category|first}}</strong></a></li>
{% endfor %}
        
    {% for post in site.posts %}
        <h2><a href="{{ post.url }}">{{ post.title }}</a> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></h2>
    {% endfor %}
    </article>
</section>

<section id="about"> <!-- ABOUT -->
    <p>Just odds ’n ends. My online bookmarks and notes dumpster.</p>
    <p><a href="https://www.instagram.com/nikosvarr17" rel="noopener noreferrer" target="_blank">Insta</a></p>
    <!-- <figure>
    <a href="#img-about">
    <img loading="lazy" alt="" src="//via.placeholder.com/1200x600/ddd/ccc" width="1200" height="600"></a>
    <figcaption>Example of an image with a link to a larger version.</figcaption>
    </figure> -->
</section>

<!-- Blog -->
<!-- <section id="blog"> 
    <article>
    {% for post in site.posts %}
        <h2><a href="{{ post.url }}">{{ post.title }}</a> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></h2>
    {% endfor %}
    </article>
</section> -->

<!-- PHOTOS -->
<!-- You can use this grid of images in any page -->
<!-- <section id="photos"> 
    <p>An example of a photo gallery with a lightbox.</p>
    <div class="grid">
        <a href="#img-01"><img loading="lazy" alt="" src="//via.placeholder.com/300x300/ddd/ccc"></a>
        <a href="#img-02"><img loading="lazy" alt="" src="//via.placeholder.com/400x300/ddd/ccc"></a>
        <a href="#img-03"><img loading="lazy" alt="" src="//via.placeholder.com/300x400/ddd/ccc"></a>
        <a href="#img-04"><img loading="lazy" alt="" src="//via.placeholder.com/300x300/ddd/ccc"></a>
        <a href="#img-05"><img loading="lazy" alt="" src="//via.placeholder.com/400x300/ddd/ccc"></a>
        <a href="#img-06"><img loading="lazy" alt="" src="//via.placeholder.com/300x400/ddd/ccc"></a>
        <a href="#img-07"><img loading="lazy" alt="" src="//via.placeholder.com/300x300/ddd/ccc"></a>
        <a href="#img-08"><img loading="lazy" alt="" src="//via.placeholder.com/400x300/ddd/ccc"></a>
        <a href="#img-09"><img loading="lazy" alt="" src="//via.placeholder.com/300x400/ddd/ccc"></a>
        <a href="#img-10"><img loading="lazy" alt="" src="//via.placeholder.com/300x300/ddd/ccc"></a>
        <a href="#img-11"><img loading="lazy" alt="" src="//via.placeholder.com/400x300/ddd/ccc"></a>
        <a href="#img-12"><img loading="lazy" alt="" src="//via.placeholder.com/300x400/ddd/ccc"></a>
        <a href="#img-13"><img loading="lazy" alt="" src="//via.placeholder.com/300x300/ddd/ccc"></a>
        <a href="#img-14"><img loading="lazy" alt="" src="//via.placeholder.com/400x300/ddd/ccc"></a>
        <a href="#img-15"><img loading="lazy" alt="" src="//via.placeholder.com/300x400/ddd/ccc"></a>
    </div>
</section> -->

<!-- PORTFOLIO -->
<!-- <section id="portfolio"> 
    <div class="slides">
        <figure><img loading="lazy" alt="" src="//via.placeholder.com/4000x3000/ddd/ccc"></figure>
        <figure><img loading="lazy" alt="" src="//via.placeholder.com/3000x4000/ddd/ccc"></figure>
        <figure><img loading="lazy" alt="" src="//via.placeholder.com/4000x3000/ddd/ccc"></figure>
        <figure>
        <p>You can also have text over here.</p>
        </figure>
        <figure><img loading="lazy" alt="" src="//via.placeholder.com/1000x1000/ddd/ccc"></figure>
        <figure><img loading="lazy" alt="" src="//via.placeholder.com/4000x3000/ddd/ccc"></figure>
        <figure><img loading="lazy" alt="" src="//via.placeholder.com/3000x4000/ddd/ccc"></figure>
        <figure><img loading="lazy" alt="" src="//via.placeholder.com/1000x1000/ddd/ccc"></figure>
        <figure><img loading="lazy" alt="" src="//via.placeholder.com/4000x3000/ddd/ccc"></figure>
    </div>
</section> -->

<!-- ANOTHER PAGE -->
<!-- <section id="another-page"> 
    <p>This page is not referenced in the menu, yet it exists.</p>
    <p><a href="#about">← back</a></p>
</section> -->

<!-- ----------
    LIGHTBOX IMAGES
    ----------- -->

    <!-- PHOTOS grid -->

    <!-- <a href="#photos" class="lightbox" id="img-01"><img loading="lazy" alt="" src="//via.placeholder.com/3000x3000/ddd/ccc"></a>
    <a href="#photos" class="lightbox" id="img-02"><img loading="lazy" alt="" src="//via.placeholder.com/4000x3000/ddd/ccc"></a>
    <a href="#photos" class="lightbox" id="img-03"><img loading="lazy" alt="" src="//via.placeholder.com/3000x4000/ddd/ccc"></a>
    <a href="#photos" class="lightbox" id="img-04"><img loading="lazy" alt="" src="//via.placeholder.com/3000x3000/ddd/ccc"></a>
    <a href="#photos" class="lightbox" id="img-05"><img loading="lazy" alt="" src="//via.placeholder.com/4000x3000/ddd/ccc"></a>
    <a href="#photos" class="lightbox" id="img-06"><img loading="lazy" alt="" src="//via.placeholder.com/3000x4000/ddd/ccc"></a>
    <a href="#photos" class="lightbox" id="img-07"><img loading="lazy" alt="" src="//via.placeholder.com/3000x3000/ddd/ccc"></a>
    <a href="#photos" class="lightbox" id="img-08"><img loading="lazy" alt="" src="//via.placeholder.com/4000x3000/ddd/ccc"></a>
    <a href="#photos" class="lightbox" id="img-09"><img loading="lazy" alt="" src="//via.placeholder.com/3000x4000/ddd/ccc"></a>
    <a href="#photos" class="lightbox" id="img-10"><img loading="lazy" alt="" src="//via.placeholder.com/3000x3000/ddd/ccc"></a>
    <a href="#photos" class="lightbox" id="img-11"><img loading="lazy" alt="" src="//via.placeholder.com/4000x3000/ddd/ccc"></a>
    <a href="#photos" class="lightbox" id="img-12"><img loading="lazy" alt="" src="//via.placeholder.com/3000x4000/ddd/ccc"></a>
    <a href="#photos" class="lightbox" id="img-13"><img loading="lazy" alt="" src="//via.placeholder.com/3000x3000/ddd/ccc"></a>
    <a href="#photos" class="lightbox" id="img-14"><img loading="lazy" alt="" src="//via.placeholder.com/4000x3000/ddd/ccc"></a>
    <a href="#photos" class="lightbox" id="img-15"><img loading="lazy" alt="" src="//via.placeholder.com/3000x4000/ddd/ccc"></a> -->

    <!-- Other images -->

    <!-- <a href="#about" class="lightbox" id="img-about"><img loading="lazy" alt="" src="//via.placeholder.com/2400x1200/ddd/ccc"></a> -->
